{% extends "epcandiapp/base.html" %}
{% block page_title %}EPC&I ARTICLES{% endblock %}
{% block content %}
<div class="list-toolbar">ARTICLES</div>
{% for i in Articles %}
<div class="list-article-header">{{ i.heading }}</div>
<div class="list-article-presci">
    {{ i.article|truncatechars:280|linebreaks }}
    <a href="{% url 'article-detail' i.id %}" class="list-read-more">Read More</a>
</div>
{% if not forloop.last %}<div class="list-seperator">*****</div>{% endif %}
{% empty %}
<div class="list-article-presci">No articles available.</div>
{% endfor %}
{% endblock %}
