{% extends "epcandiapp/base.html" %}
{% block page_title %}EPC&amp;I Articles | Construction &amp; Infrastructure Insights{% endblock %}
{% block meta_description %}Read in-depth EPC&amp;I articles on engineering, procurement, construction, infrastructure projects, and market developments.{% endblock %}
{% block meta_keywords %}EPC&amp;I articles, construction articles, infrastructure insights, engineering analysis, procurement strategy{% endblock %}
{% block content %}
<div class="list-toolbar">ARTICLES</div>
{% include "epcandiapp/partials/list_controls.html" %}
{% for i in Articles %}
<div class="list-article-header">{{ i.heading }}</div>
<div class="list-article-presci">
    {{ i.article|truncatechars:280|linebreaks }}
    <a href="{% url 'article-detail' i.id %}" class="list-read-more">Read More</a>
</div>
{% if not forloop.last %}<div class="list-seperator">*****</div>{% endif %}
{% empty %}
<div class="list-article-presci">No articles available.</div>
{% endfor %}
{% include "epcandiapp/partials/pagination.html" %}
{% endblock %}
