{% extends "epcandiapp/base.html" %}
{% block page_title %}EPC&I EQUIPMENT NEWS{% endblock %}
{% block content %}
<div class="list-toolbar">EQUIPMENT NEWS</div>
{% for i in Equipment_News %}
<div class="list-article-header">{{ i.heading }}</div>
<div class="list-article-presci">{{ i.equipment_news|linebreaks }}</div>
{% if not forloop.last %}<div class="list-seperator">*****</div>{% endif %}
{% empty %}
<div class="list-article-presci">No equipment news available.</div>
{% endfor %}
{% endblock %}
