{% extends "epcandiapp/base.html" %}
{% block page_title %}EPC&amp;I Events | Infrastructure &amp; Construction Conferences{% endblock %}
{% block meta_description %}Explore EPC&amp;I events, conferences, and exhibitions for Engineering, Procurement, Construction and Infrastructure professionals.{% endblock %}
{% block meta_keywords %}infrastructure events, construction conferences, EPC events, engineering exhibitions, EPC&amp;I events{% endblock %}
{% block content %}
<div class="page-panel page-panel-left">
    {% include "epcandiapp/partials/list_controls.html" %}
    <div id="repeater">
        {% for event in events %}
        <div class="list-event-header">{{ event.name|upper }}</div>
        <div class="list-event-details">
            <div class="event-list-split">
                <div class="event-list-media">
                    <div class="event-list-media-box">
                        {% if event.banner %}
                        <a href="{{ event.website }}" target="_blank" rel="noopener noreferrer" class="event-list-media-link">
                            <img src="{{ event.banner.url }}" alt="{{ event.name }} banner" class="list-event-image">
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="event-list-content">
                    <p><b>{{ event.start_date|date:"d/m/Y" }} - {{ event.end_date|date:"d/m/Y" }}</b></p>
                    <p><u>Venue</u>: {{ event.venue }}</p>
                    <p><u>Timing</u>: {{ event.timings }}</p>
                    <p><u>Contact</u>: {{ event.contact_details }}</p>
                    <p><a href="{{ event.website }}" target="_blank" rel="noopener noreferrer">{{ event.website }}</a></p>
                    <p><a href="{% url 'event-detail' event.id %}" class="list-read-more">Read More</a></p>
                </div>
            </div>
        </div>
        {% if not forloop.last %}<div class="list-seperator">*****</div>{% endif %}
        {% empty %}
        <div class="list-event-header">No Events Available</div>
        {% endfor %}
    </div>
    {% include "epcandiapp/partials/pagination.html" %}
</div>
{% endblock %}
