{% extends "epcandiapp/base.html" %}
{% block page_title %}EPC&amp;I Events | Infrastructure &amp; Construction Conferences{% endblock %}
{% block meta_description %}Explore EPC&amp;I events, conferences, and exhibitions for Engineering, Procurement, Construction and Infrastructure professionals.{% endblock %}
{% block meta_keywords %}infrastructure events, construction conferences, EPC events, engineering exhibitions, EPC&amp;I events{% endblock %}
{% block content %}
<div id="latestarticle" style="width:512px; margin:21px 26px 0px 26px; text-align:left;">
    {% include "epcandiapp/partials/list_controls.html" %}
    <div id="repeater">
        {% for event in events %}
        <div class="list-event-header">{{ event.name|upper }}</div>
        <div class="list-event-details">
            <b>{{ event.start_date|date:"d/m/Y" }} - {{ event.end_date|date:"d/m/Y" }}</b><br><br>
            <u>Venue</u>: {{ event.venue }}<br><br>
            <u>Timing</u>: {{ event.timings }}<br><br>
            <u>Contact</u>: {{ event.contact_details }}<br><br>
            <a href="{{ event.website }}" target="_blank" rel="noopener noreferrer">{{ event.website }}</a>
            <br><br><a href="{% url 'event-detail' event.id %}" class="list-read-more">Read More</a>
        </div>
        {% if not forloop.last %}<div class="list-seperator">*****</div>{% endif %}
        {% empty %}
        <div class="list-event-header">No Events Available</div>
        {% endfor %}
    </div>
    {% include "epcandiapp/partials/pagination.html" %}
</div>
{% endblock %}
