{% extends "epcandiapp/base.html" %}
{% load content_filters %}
{% block page_title %}EPC&amp;I Focus | Articles{% endblock %}
{% block meta_description %}EPC&amp;I Focus presents Articles and expert commentary on engineering, procurement, construction, and infrastructure developments.{% endblock %}
{% block meta_keywords %}EPC focus, articles, construction articles, infrastructure articles, engineering insights, EPC&amp;I focus{% endblock %}
{% block content %}
<div class="list-toolbar">FOCUS</div>
{% include "epcandiapp/partials/list_controls.html" %}
{% for i in focus_items %}
<div class="list-article-header">{{ i.heading }}</div>
<div class="focus-category">Category: {{ i.category_label }}</div>
<div class="list-article-presci">{{ i.article|render_richtext|striptags|truncatechars:280 }} <a href="{% url 'focus-detail' i.id %}" class="list-read-more">Read More</a></div>
{% if not forloop.last %}<div class="list-seperator">*****</div>{% endif %}
{% empty %}
<div class="list-article-presci">No articles available.</div>
{% endfor %}
{% include "epcandiapp/partials/pagination.html" %}
{% endblock %}
