{% extends "epcandiapp/base.html" %}
{% block page_title %}EPC&I - Home{% endblock %}
{% block content %}
<div class="list-toolbar">HOME</div>

<div class="list-article-header">Latest News</div>
<div class="list-article-presci">
	{% with latest=News|first %}
		{% if latest %}
			<strong>{{ latest.heading }}</strong><br>
			{{ latest.news|truncatechars:280|linebreaks }}
		{% else %}
			No news available.
		{% endif %}
	{% endwith %}
</div>

<div class="list-seperator">*****</div>
<div class="list-article-header">Latest Article</div>
<div class="list-article-presci">
	{% with latest=Articles|first %}
		{% if latest %}
			<strong>{{ latest.heading }}</strong><br>
			{{ latest.article|truncatechars:280|linebreaks }}
			<a href="{% url 'article-detail' latest.id %}" class="list-read-more">Read More</a>
		{% else %}
			No articles available.
		{% endif %}
	{% endwith %}
</div>

<div class="list-seperator">*****</div>
<div class="list-article-header">Latest Interview</div>
<div class="list-article-presci">
	{% with latest=Interviews|first %}
		{% if latest %}
			<strong>{{ latest.heading }}</strong><br>
			{{ latest.Interview|truncatechars:280|linebreaks }}
		{% else %}
			No interviews available.
		{% endif %}
	{% endwith %}
</div>

<div class="list-seperator">*****</div>
<div class="list-article-header">Latest Equipment News</div>
<div class="list-article-presci">
	{% with latest=Equipment_News|first %}
		{% if latest %}
			<strong>{{ latest.heading }}</strong><br>
			{{ latest.equipment_news|truncatechars:280|linebreaks }}
		{% else %}
			No equipment news available.
		{% endif %}
	{% endwith %}
</div>
{% endblock %}
