{% extends "epcandiapp/base.html" %}
{% load content_filters %}
{% block page_title %}EPC&amp;I Square Foot{% endblock %}
{% block meta_description %}Read Square Foot updates, property coverage, and related EPC&amp;I insights.{% endblock %}
{% block meta_keywords %}square foot news, EPC property updates, infrastructure real estate insights{% endblock %}
{% block content %}
<div class="list-toolbar">SQUARE FOOT</div>
{% include "epcandiapp/partials/list_controls.html" %}
{% for i in square_foot_items %}
<div class="list-article-header">{{ i.heading }}</div>
<div class="list-article-presci">{{ i.square_foot|render_richtext|striptags|truncatechars:280 }} <a href="{% url 'square-foot-detail' i.id %}" class="list-read-more">Read More</a></div>
{% if not forloop.last %}<div class="list-seperator">*****</div>{% endif %}
{% empty %}
<div class="list-article-presci">No square foot entries available.</div>
{% endfor %}
{% include "epcandiapp/partials/pagination.html" %}
{% endblock %}
