{% extends "epcandiapp/base.html" %}
{% block page_title %}EPC&amp;I Square Foot | Building and Project Space Updates{% endblock %}
{% block meta_description %}EPC&amp;I Square Foot covers project-space developments, construction updates, and practical infrastructure execution insights.{% endblock %}
{% block meta_keywords %}square foot, project space, building updates, infrastructure execution, construction developments{% endblock %}
{% block content %}
<div class="list-toolbar">SQUARE FOOT</div>
{% include "epcandiapp/partials/list_controls.html" %}
{% for i in Equipment_News %}
<div class="list-article-header">{{ i.heading }}</div>
<div class="list-article-presci">{{ i.equipment_news|truncatechars:280|linebreaks }} <a href="{% url 'equipment-detail' i.id %}" class="list-read-more">Read More</a></div>
{% if not forloop.last %}<div class="list-seperator">*****</div>{% endif %}
{% empty %}
<div class="list-article-presci">No square foot items available.</div>
{% endfor %}
{% include "epcandiapp/partials/pagination.html" %}
{% endblock %}
