{% extends 'epcandiapp/base.html' %}
{% block page_title %}Subscribe to EPC&amp;I | Infrastructure &amp; Construction Magazine{% endblock %}
{% block meta_description %}Subscribe to EPC&amp;I for regular updates on Engineering, Procurement, Construction and Infrastructure news, analysis, and special reports.{% endblock %}
{% block meta_keywords %}subscribe EPC&amp;I, infrastructure magazine subscription, construction news subscription, engineering publication{% endblock %}
{% block content %}
<div class="page-panel">
    <h2 class="panel-title">USER REGISTRATION</h2>
    <div class="panel-note">
        <b>Register Now for a free copy of EPC&I.</b><sup>*CONDITIONS APPLY.</sup><br>
        {% if message %}<span class="panel-success">{{ message }}</span>{% endif %}
        {% if errors %}<span class="panel-error">{{ errors }}</span>{% endif %}
    </div>
    <div class="form-content">
        <form method="post" action="{% url 'subscribe' %}">
            {% csrf_token %}
            <div class="form-grid">
                <div class="form-labels">
                    <p>First Name:</p><p>Last Name:</p><p>Designation:</p><p>Organisation:</p><p>Address:</p><p>City:</p><p>State:</p><p>Pincode:</p><p>Telephone No.:</p><p>Mobile:</p><p>Email:</p><p>Password:</p><p>Confirm Password:</p>
                </div>
                <div class="form-fields">
                    <p><input name="first_name" type="text" maxlength="50" class="form-text" required></p>
                    <p><input name="last_name" type="text" maxlength="100" class="form-text" required></p>
                    <p><input name="designation" type="text" maxlength="50" class="form-text" required></p>
                    <p><input name="organisation" type="text" maxlength="100" class="form-text" required></p>
                    <p><textarea name="address" rows="3" cols="20" class="form-text" required></textarea></p>
                    <p><input name="city" type="text" maxlength="50" class="form-text" required></p>
                    <p><input name="state" type="text" maxlength="50" class="form-text" required></p>
                    <p><input name="pincode" type="text" maxlength="10" class="form-text" required></p>
                    <p><input name="telephone" type="text" maxlength="50" class="form-text" required></p>
                    <p><input name="mobile" type="text" maxlength="50" class="form-text" required></p>
                    <p><input name="email" type="email" maxlength="256" class="form-text" required></p>
                    <p><input name="password" type="password" maxlength="50" class="form-text" required></p>
                    <p><input name="confirm_password" type="password" maxlength="50" class="form-text" required></p>
                </div>
            </div>
            <div class="pricing-wrap">
                <div class="pricing-table-scroll">
                    <table class="pricing-table" border="1" cellpadding="2" cellspacing="1" width="512">
                        <tr><td align="center"><b>PERIOD</b></td><td align="center"><b>STAND PRICE</b></td><td align="center" style="color:#c9252b; background-color:#d1d3d4;"><b>YOU PAY</b></td><td align="center"><b>SAVE</b></td></tr>
                        <tr><td style="padding-left:15px;">1 Year (12 Issues)</td><td style="padding-left:15px;">Rs. 720.00</td><td style="padding-left:15px; color:#c9252b; background-color:#d1d3d4;">Rs. 600.00</td><td style="padding-left:15px;">Rs. 120.00</td></tr>
                        <tr><td style="padding-left:15px;">2 Years (24 Issues)</td><td style="padding-left:15px;">Rs. 1440.00</td><td style="padding-left:15px; color:#c9252b; background-color:#d1d3d4;">Rs. 1200.00</td><td style="padding-left:15px;">Rs. 240.00</td></tr>
                        <tr><td colspan="4" align="left"><p>I would also like to subscribe to EPC&I - <select name="subscription_type" class="form-text"><option value="0" selected>No Thanks</option><option value="1 Year">1 Year</option><option value="2 Years">2 Years</option></select></p></td></tr>
                    </table>
                </div>
            </div>
            <div class="form-submit"><input type="submit" value="SUBMIT"></div>
        </form>
    </div>
</div>
{% endblock %}
